<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandlerMain" modules="httpPlatformHandler" path="*" verb="*" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%RUBY_HOME%\bin\ruby.exe" arguments="%RUBY_HOME%\bin\thin -e production -p %HTTP_PLATFORM_PORT% -c '%RAILS_ROOT%' start" startupTimeLimit="60" startupRetryCount="5" />
  </system.webServer>
</configuration>