<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandlerMain" modules="httpPlatformHandler" path="*" verb="*" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%GOROOT%\bin\go.exe" arguments="run D:\home\site\wwwroot\server.go" startupTimeLimit="60" startupRetryCount="5" />
  </system.webServer>
</configuration>